<div class="familyList">
	{{#each family}}
	<div>
		<h4>{{name}}</h4>
		<p>Age: {{age}}</p> 
		<p>Gender: {{gender}}</p>
		<p>Skills: {{skills}}</p>
	</br>
	<button type='button' class="remove btn btn-default btn-xs">Remove</button>
</br>
</div>
	{{/each}}
</div>